footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 10px 20px;
  border-top: 1px solid #ccc;
  background: white;

  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .center {
  text-align: center;
  margin: 0;
}

footer .left,
footer .right {
  display: flex;
  gap: 10px;
}

footer .right {
  justify-content: flex-end;
}

/* deja espacio abajo para que el footer no tape el contenido */
body {
  margin: 0;
  padding-bottom: 60px;
}
