/* index.css */
:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* Eliminamos márgenes y ponemos el degradado en toda la pantalla */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #3b0075 0%, #180029 100%); /* Morado */
  background-attachment: fixed; /* El fondo no se mueve al hacer scroll */
  color: white;
}

* {
  box-sizing: border-box;
}